/* stylelint-disable sh-waqar/declaration-use-variable */

@mixin foo() {
  background-color: hotpink;
}

@mixin mq() {
  @media (min-width: 500px) {
    @content;
  }
}

.order {
  display: block;
  $spacing: red;

  .child {
    display: block;
  }

  @media screen and (min-width: 500px) {
    display: inline-block;
  }
}

.prop-order {
  background-color: transparent;
  position: absolute;
  flex-direction: column;
  font-size: 1em;
  left: 0;
  right: auto;
  bottom: 100%;
  padding: 0;
  margin-left: auto;
}

.pseudo {
  display: block;
  content: '';
}

.positioning {
  right: auto;
  left: 0;
  position: absolute;
  z-index: -1;
}

.transition {
  transition-timing-function: ease;
  transition-duration: 5s;
  transition-delay: 1s;
}

.flex {
  order: 3;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.flex-item {
  order: 1;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: flex-end;
  flex-basis: auto;
}

.dimensions {
  max-height: 500px;
  height: 100%;
  width: 50%;
  min-height: 100px;
}

.mixin {
  @include mq() {
    background-color: red;
  }
  display: block;
  @include foo();
}

.parent {
  @if ($condition) {
    width: 100%;
  }
  @media (min-width: 500) {

  }
  display: block;
  @include mq() {
    background-color: red;
  }
  @include foo();



  .child {
    width: 50%;

    @if ($condition) {
      width: 100%;
    }
  }
}

.user-interaction {
  user-select: none;
  display: block;
  pointer-events: none;
  margin: 0;
  cursor: pointer;
}

/* stylelint-enable sh-waqar/declaration-use-variable */
