version: 2.1

commands:
  install:
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
  test:
    steps:
      - run:
          name: run tests
          command: npm test
  lint:
    steps:
      - run:
          name: lint with danger.js
          command: npx danger ci --failOnErrors

jobs:
  build-node-latest:
    docker:
      - image: circleci/node:latest
    steps:
      - install
      - test
      - lint
  build-node-lts:
    docker:
      - image: circleci/node:lts
    steps:
      - install
      - test
      - lint
  build-node-14:
    docker:
      - image: circleci/node:14.18.1
    steps:
      - install
      - test
      - lint
  build-node-12:
    docker:
      - image: circleci/node:12.22.7
    steps:
      - install
      - test
      - lint

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-node-latest
      - build-node-lts
      - build-node-14
      - build-node-12
